@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;

}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 222;






}

.logo {

    background-image: url(../image/MyntraWebSprite_27_01_2021.png);
    width: 53px;
    height: 36px;
    background-position: -462px 0;
    background-size: 1404px 105px;
    margin-left: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    width: 515.44px;

    margin-left: 14px;
    display: flex;
    justify-content: space-around;
    color: #282c3f;
    font-weight: 700;
    letter-spacing: .3px;
    font-size: 14px;
    text-transform: uppercase;
}


.search-box {
    width: 355px;
    height: 40px;
    margin-left: 56px;
    border-radius: 4px;
    color: #696e79;
    display: flex;
    background-color: #f5f5f6;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.search-box input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #696e79;
}

.search-box input:focus {
    outline: none;
}

.right {
    width: 50px;
    height: 40px;
    margin-left: 13px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.profile {
    width: 24px;
    height: 22px;
    background-image: url(../image/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -298px -56px;
    margin-left: 7px;


}

.wishlist {
    width: 17px;
    height: 22px;
    background-image: url(../image/MyntraWebSprite_27_01_2021.png);
    background-position: -315px -187px;
    background-size: 1404px 105px;
    margin-left: 11px;


}

.bag {
    background-position: -341px -56px;
    width: 22px;
    height: 22px;
    background-image: url(../image/MyntraWebSprite_27_01_2021.png);

    background-size: 1404px 105px;
    margin-left: 7px;
}

.image {
    width: 100%;
    margin-top: 100px;

}

.image2 {
    height: 377px;
    width: 50%;
}

.banner {
    display: flex;
    width: 100%;

}

.image3 {
    width: 50%;
}

.items {
    display: flex;
}

.i {
    width: 240px;
}


.flex-items {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: auto;
}


.fi {
    width: 144px;
}

.after-image {
    width: 1080px;
    height: 430px;

    margin: auto;
    display: flex;

    margin-top: 90px;
}

.last-right-box {
    width: 270px;
    height: 160.33px;

    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.last-img {
    margin-right: 10px;
}

.last-text {
    width: 74%;
}

.hr-line {
    width: 1100px;
    height: 131px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.para1 {
    width: 1080px;
    margin-top: 20px;
    line-height: 25px;
    text-decoration: none;
    color: #696b79;
    font-size: 15px;
    letter-spacing: 0.5px
}

.para2 {
    color: #696b79;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 60px;
    margin-left: 240px;


}

.content-box {
    width: 1080px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}


.c-text {
    font-weight: 700;
    color: #282c3f;
    margin-top: 40px;
    width: 100%;
}

.list {
    color: #94969f;
    margin-top: 30px;
    width: 756px;
}

.para3 {
    color: #94969f;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
}

.list-box {
    width: 1080px;
    height: 497px;
    margin-left: 20px;

}

.footer-para {
    margin-top: 20px;
    color: #94969f;
    font-size: 14px;
}

.lastt-boxx {
    width: 100%;
    height: 500px;
    margin-left: -25px;
}

.small-text {
    font-size: 10px;
    color: #ff3f6c;
    position: absolute;
    top: -5px;
    right: -23px;
}

.bell-icon {
    width: 45px;
    height: 45px;
    background-color: rgb(29, 133, 252);
    border-radius: 50%;
    /* position: absolute;

    right: 25px;

    top: 6679px; */

    position: fixed;
    bottom: 42px;
    right: 30px;
    cursor: pointer;
}

.mid-part {
    width: 1245.33px;
    height: 1372px;

    display: flex;
}

.mid-images {
    width: 842.39px;
    height: 1275.68px;
    margin-left: 50px;
}

.right-mid {
    width: 340.95px;
    height: 1372px;

    margin-left: 10px;
}

.heading1 {
    color: #3e4152;
    letter-spacing: .15em;
    margin: 50px 0 10px 30px;
    font-weight: 700;
    margin-bottom: 46px;
}

.mega-menu {
    width: 1100px;
    height: 450px;
    background-color: white;
    position: absolute;
    margin-left: -61px;
    margin-top: 29px;
    display: flex;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    visibility: hidden;

    cursor: pointer;
}

.mega-itm {
    width: 20%;
    height: 100%;

}

.mega-p {
    margin-top: 20px;
    margin-top: 12px;
    color: #ff3f6c;
    text-transform: capitalize;
    margin-left: 40px;
    margin-bottom: 12px;
}

.mega-line {
    width: 150px;
    margin-left: 35px;
    margin-top: 10px;
    color: #696b79;
    opacity: 0.3;
}

.hover:hover {
    border-bottom: 2px solid #ff3f6c;
}

.hover:hover .mega-menu {
    opacity: 1;
    transition-duration: 0.5s;
    visibility: visible;
}

.hover2:hover {
    border-bottom: #fb56c1 2px solid;
}

.hover2:hover .mega-menu {
    opacity: 1;
    transition-duration: 0.5s;
    visibility: visible;
}

.hover3:hover {
    border-bottom: #f26a10 2px solid;
}

.hover3:hover .mega-menu {
    opacity: 1;
    transition-duration: 0.5s;
    visibility: visible;
}

.hover4:hover {
    border-bottom: #f2c210 2px solid;
}

.hover4:hover .mega-menu {
    opacity: 1;
    transition-duration: 0.5s;
    visibility: visible;
}


.hover5:hover {
    border-bottom: #0db7af 2px solid;
}

.hover5:hover .mega-menu {
    opacity: 1;
    transition-duration: 0.5s;
    visibility: visible;
}

.off {
    background-color: #3e4152;
    width: 41px;
    padding: 4px;
    height: 250px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    transform: rotate(-540deg);
    writing-mode: vertical-rl;
    font-weight: 700;
    color: #f5f5f6;
    padding-right: 0px;
    margin-left: 1222px;
    margin-top: 2719px;
    position: fixed;
    bottom: 104px;
    right: 0px;

    cursor: pointer;
}